
.body {
  font-family: 'Open Sans', sans-serif;
}

.s1 {
  height: 100vh;
}

.s1_slider {
  height: 100%;
}

.s1_slider_bg {
  height: 100%;
  background-image: url("../images/slider/slider-1.jpg");
  background-position: 0 0;
  background-size: cover;
}

.s1_slider_bg._2 {
  background-image: url("../images/slider/slider-2.jpg");
}

.s1_slider_bg._3 {
  background-image: url("../images/slider/slider-3.jpg");
}

.s1_box {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.s1_content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.s1_h1 {
  font-family: Kurale, sans-serif;
  color: #fff;
  font-size: 80px;
  line-height: 1.5;
  text-transform: uppercase;
}

.s1_p {
  max-width: 800px;
  margin-top: 20px;
  color: #fff;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}

.s1_button {
  margin-top: 20px;
  padding: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: #fff;
  background-color: transparent;
  -webkit-transition: border-color 500ms ease, background-color 500ms ease;
  transition: border-color 500ms ease, background-color 500ms ease;
  font-size: 18px;
  text-transform: uppercase;
}

.s1_button:hover {
  border-color: tan;
  background-color: tan;
}

.menu {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  background-color: transparent;
}

.container {
  max-width: 1200px;
}

.nav-link {
  -webkit-transition: color 500ms ease;
  transition: color 500ms ease;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
}

.nav-link:hover {
  color: tan;
}

.s2 {
  padding-top: 10%;
  padding-bottom: 10%;
  text-transform: uppercase;
}

.s3 {
  padding-top: 10%;
  padding-bottom: 10%;
  background-image: url("../images/bg/bg-1.jpg");
  background-position: 0% 0%;
  background-size: cover;
  background-attachment: fixed;
}

.s2_cont {
  max-width: 1200px;
  text-align: center;
}

.s2_h2 {
  margin-top: 0px;
  font-family: Kurale, sans-serif;
  font-size: 42px;
  line-height: 1.5;
  text-transform: uppercase;
}

.s2_sep {
  padding-top: 15px;
  padding-bottom: 15px;
}

.s2_p {
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
  font-size: 16px;
  line-height: 1.5;
}

.s2_tab {
  margin-top: 60px;
}

.s2_image {
  display: inline-block;
  overflow: visible;
}

.s2_h3 {
  font-family: Kurale, sans-serif;
}

.s4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 5%;
  padding-bottom: 5%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url("../images/bg/bg-2.jpg");
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: fixed;
}

.s3_tab {
  margin-top: 60px;
}

.s3_tav_div {
  position: static;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  text-align: left;
  -o-object-fit: fill;
  object-fit: fill;
}

.tab_link {
  width: 100%;
  height: 300px;
  background-image: url("../images/blog/blog-3.jpg");
  background-position: 0px 0px;
  background-size: cover;
}

.tab_link._4 {
  background-image: url("../images/blog/blog-2.jpg");
}

.tab_link._5 {
  background-image: url("../images/blog/blog-1.jpg");
}

.heading {
  font-family: Kurale, sans-serif;
  text-transform: uppercase;
}

.h3_link {
  -webkit-transition: color 500ms ease;
  transition: color 500ms ease;
  color: #323232;
  text-decoration: none;
}

.h3_link:hover {
  color: tan;
}

.link_p {
  -webkit-transition: color 500ms ease;
  transition: color 500ms ease;
  color: #323232;
  font-size: 16px;
  line-height: 1.5;
  text-decoration: none;
  text-transform: uppercase;
}

.link_p:hover {
  color: tan;
}

.s5 {
  padding-top: 10%;
  padding-bottom: 10%;
}

.s6 {
  padding-top: 10%;
  padding-bottom: 10%;
  background-image: url("../images/bg/bg-1.jpg");
  background-position: 100% 100%;
  background-size: cover;
  background-attachment: fixed;
}

.s5_cont {
  max-width: 1200px;
  text-align: center;
}

.s5_tab {
  margin-top: 60px;
}

.s5_text {
  font-family: Kurale, sans-serif;
  color: tan;
  font-size: 80px;
  line-height: 1;
}

.s7 {
  padding-top: 3%;
  padding-bottom: 3%;
}

.s6_cont {
  max-width: 1200px;
  text-align: center;
}

.s6_div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 60px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.s6_box {
  -webkit-box-flex: 0;
  -webkit-flex: 0 25%;
  -ms-flex: 0 25%;
  flex: 0 25%;
  -webkit-transition: box-shadow 500ms ease, -webkit-transform 500ms ease;
  transition: box-shadow 500ms ease, -webkit-transform 500ms ease;
  transition: box-shadow 500ms ease, transform 500ms ease;
  transition: box-shadow 500ms ease, transform 500ms ease, -webkit-transform 500ms ease;
}

.s6_box:hover {
  box-shadow: 4px 4px 13px -3px #a3a3a3;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.prod_bg {
  width: 100%;
  height: 300px;
  background-image: url("../images/product/product-2.png");
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.prod_bg.img2 {
  background-image: url("../images/product/product-4.png");
}

.prod_bg.img3 {
  background-image: url("../images/product/product-1.png");
}

.prod_bg.img4 {
  background-image: url("../images/product/product-3.png");
}

.s6_buttom {
  padding: 15px 40px;
  background-color: tan;
  -webkit-transition: background-color 500ms ease;
  transition: background-color 500ms ease;
  font-size: 15px;
  text-transform: uppercase;
}

.s6_buttom:hover {
  background-color: #000;
}

.s3_h3 {
  font-family: Kurale, sans-serif;
  text-transform: uppercase;
}

.text-block {
  font-size: 16px;
  line-height: 1.5;
}

.s8 {
  padding-top: 3%;
  padding-bottom: 3%;
  background-image: url("../images/bg/footer-bg.jpg");
  background-position: 0 0;
  background-size: cover;
}

.s7_cont {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1200px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.s7_box {
  height: 10vh;
  -webkit-box-flex: 0;
  -webkit-flex: 0 16.666666666666668%;
  -ms-flex: 0 16.666666666666668%;
  flex: 0 16.666666666666668%;
  background-image: url("../images/brand/brand-4.png");
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.s7_box.logo_2 {
  background-image: url("../images/brand/brand-6.png");
}

.s7_box.logo_3 {
  background-image: url("../images/brand/brand-3.png");
}

.s7_box.logo_4 {
  background-image: url("../images/brand/brand-5.png");
}

.s7_box.logo_5 {
  background-image: url("../images/brand/brand-1.png");
}

.s7_box.logo_6 {
  background-image: url("../images/brand/brand-2.png");
}

.s8_cont {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  max-width: 1200px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.s8_p {
  margin-top: 12px;
  margin-bottom: 0px;
  color: #fffdfd;
}

.s8_h3 {
  font-family: Kurale, sans-serif;
  color: #fff;
}

.s8_form {
  width: 300px;
  margin-top: 20px;
}

.s8_input {
  background-color: transparent;
}

.s8_input::-webkit-input-placeholder {
  font-size: 16px;
  text-align: center;
}

.s8_input:-ms-input-placeholder {
  font-size: 16px;
  text-align: center;
}

.s8_input::-ms-input-placeholder {
  font-size: 16px;
  text-align: center;
}

.s8_input::placeholder {
  font-size: 16px;
  text-align: center;
}

.div1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 300px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("../images/bg/bg-2.jpg");
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/bg/bg-2.jpg");
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  font-family: Kurale, sans-serif;
  color: #fff;
}

.body-2 {
  font-family: 'Open Sans', sans-serif;
}

.h2 {
  font-size: 50px;
  line-height: 1.5;
  text-transform: uppercase;
}

.div2 {
  padding-top: 5%;
  padding-bottom: 5%;
}

.div_cont {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

.h1 {
  font-family: Kurale, sans-serif;
}

.button {
  margin-top: 20px;
  padding: 20px;
  border-style: solid;
  border-width: 1px;
  border-color: #fff;
  background-color: tan;
  -webkit-transition: border-color 500ms ease, background-color 500ms ease;
  transition: border-color 500ms ease, background-color 500ms ease;
  font-size: 18px;
  text-transform: uppercase;
}

.button:hover {
  border-color: tan;
  background-color: #80705b;
}

@media screen and (max-width: 991px) {
  .s1_box {
    width: 100%;
  }
  .s1_h1 {
    text-align: center;
  }
  .nav-link {
    background-color: #000;
  }
  .block_menu.w--open {
    position: relative;
    left: auto;
    top: 0%;
    right: 0%;
    bottom: auto;
    background-color: #000;
  }
  .icon {
    color: #fff;
  }
  .nav-menu {
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: auto;
  }
  .s2_cont {
    padding-right: 10px;
    padding-left: 10px;
  }
  .tab_link {
    height: 200px;
  }
  .s5_cont {
    padding-right: 14px;
    padding-left: 14px;
  }
  .s6_cont {
    padding-right: 21px;
    padding-left: 21px;
  }
  .s6_box {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
  }
  .s7_box {
    -webkit-flex-basis: 30%;
    -ms-flex-preferred-size: 30%;
    flex-basis: 30%;
  }
  .div_cont {
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media screen and (max-width: 767px) {
  .s1 {
    height: 680px;
  }
  .s1_button {
    margin-bottom: 20px;
  }
  .right-arrow {
    display: none;
  }
  .left-arrow {
    display: none;
  }
  .s3_tav_div {
    margin-bottom: 29px;
  }
  .tab_link {
    height: 380px;
  }
  .s6_box {
    margin-bottom: 15px;
  }
  .s7_box {
    margin-bottom: 21px;
  }
  .button {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 479px) {
  .s1_h1 {
    font-size: 60px;
  }
  .s1_p {
    padding-right: 21px;
    padding-left: 21px;
    font-size: 14px;
  }
  .s2_tab_div {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .tab_link {
    height: 200px;
  }
  .s6_box {
    margin-bottom: 25px;
    -webkit-flex-basis: 100%;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .s7_box {
    -webkit-flex-basis: 50%;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
  }
  .s8_cont {
    padding-right: 16px;
    padding-left: 16px;
  }
}
